#local config
APP_ENV=local

#AWS Configuration
AWS_REGION=
S3_BUCKET_NAME=your-raw-bucket
S3_ATHENA_RESULTS_BUCKET=your-athena-results-bucket

#Athena Configuration
ATHENA_WORKGROUP=primary
ATHENA_DATABASE=your_athena_database
ATHENA_OUTPUT_LOCATION=s3://your-athena-results-bucket/athena/

#API Configuration
WEATHER_API_TIMEOUT=10
MAX_RETRIES=3
DQ_EXPECTED_CITIES=New York,Singapore,Tokyo
DQ_MIN_HOURLY_RECORDS_PER_CITY=720
DQ_TEMP_MIN=-60
DQ_TEMP_MAX=60