# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Data & Logs (don't commit to GitHub)
data/
logs/
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
STRUCTURE.md

#Lambda packaging artifacts
lambda_package/
lamba_dist/
weather_ingestion_lambda.zip